@import url("reset.css");


body{
	font-family:"Poppins", sans-serif;
	font-size:14px;
	font-weight:300;
	color: #6C757D;;
}
[class*="page"] {
	max-width: 1270px;
	margin: 0 auto;
}
.page {}
.lives {
	max-width: 816px;
	margin: 0 auto;
}
.title1 {
color: #212529;
font-weight: 700;
font-size: 25px;
margin: 0px 0px 40px 0px;
}
.text1 {
	margin: 0px 0px 40px 0px;
}
.text2 {
	margin: 0px 0px 40px 0px;
}
.text3 {
	margin: 0px 0px 80px 0px;
}
.image1 {
	margin: 0px 0px 80px 0px;
}
.people {max-width: 816px;
	margin: 0 auto;	
}
.title2 {
	font-weight: 700;
	font-size: 25px;
	line-height: 40px;
	color: #212529;
	margin: 0px 0px 40px 0px;
}
.text4 {
	margin: 0px 0px 40px 0px;
}
.text5 {
	margin: 0px 0px 80px 0px;
}
.images {
	max: width 100%;
	margin: 0 auto;
	margin: 0px 0px 80px 0px;
	font-size: 0;
}
.images-002 {
	margin-right: 30px;
}
.images-003 {}
.last {
	max-width: 816px;
	margin: 0 auto;
}