 @import url("reset.css");

@font-face {
	font-family: 'PF Din Text Cond Pro';
	src: url("../fonts/PFDinTextCondPro-Bold.woff2") format("woff2"),
		 url("../fonts/PFDinTextCondPro-Bold.woff") format("woff");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "PF Din Text Cond Pro";
	src: url("../fonts/PFDinTextCondPro-Regular.woff2") format("woff2"),
		 url("../fonts/PFDinTextCondPro-Regular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "PF Din Text Cond Pro";
	src: url("../fonts/PFDinTextCondPro-Italic.woff2") format("woff2"),
		 url("../fonts/PFDinTextCondPro-Italic.woff") format("woff");
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

body{
	font-family:"Exo 2", "Arial", cursive;
	font-size:16px;
	line-height: 1.2;
	font-weight:400;
	color: black;
	text-align: center
}
header{
	font-family: "PF Din Text Cond Pro";
	font-size: 18px;
	font-style: oblique;
	font-weight: 400;
	color:rgb(0, 128, 0);
}
h1{
	font-family: "PF Din Text Cond Pro";
	font-size: 44px;
	font-style: oblique;
	font-weight: 900;
	color:rgba(241, 8, 225, 0.362);
	text-align: center;
	text-shadow: 2px	2px 5px rgb(11, 11, 11);
	letter-spacing: 10px;
}
h2{
	font-family: "PF Din Text Cond Pro";
	font-size: 44px;
	font-weight: 900;
	color: hotpink;
	text-transform: capitalize;
	
}
.text1{
	font-size: 12px;
	line-height: 1.7;
	text-align: left;
	text-decoration: line-through;
	color: rgba(52, 73, 9, 0.15);
} 
.text2{
	text-align: right;
	text-decoration: underline;
	color: darkgoldenrod;
	text-indent: 5px;
	text-transform: uppercase;
	
}
.text3{
	text-align: center;
	color: rgb(12, 8, 224);
	word-spacing: 10px;
	text-decoration:overline
}
.block4{
	text-indent: 20px;
	text-align: center;
	text-transform:lowercase;
	letter-spacing:10px;
}
