@import url("reset.css");
@import url(https://fonts.googleapis.com/css?family=Poppins:300,500,700display=swap);

body{
	font-family: 'Poppins';
	font-weight: 300;
	font-size: 14px;
	line-height: 1.7;
	color: #6C757D;
}
.statya{
	
}
.onepicture{
	display: block;
	margin: 0 auto 115px;
	max-width: 100%;
}
.big__block{
	max-width: 1270px; 
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}
.title{
	font-weight: 700;
	font-size: 25px;
	line-height: 1.6;
	color: #212529;
	margin-bottom: 40px;
	max-width: 605px;
}
.small__block{
	max-width: 816px;
	margin: 0 auto 80px;
}
.small__block p{ 
	font-size: 14px;
	line-height: 1.78;
	margin-bottom: 30px;
}
.middlepicture{
	max-width: 100%;
	margin-bottom: 80px;
}
.images{
	font-size: 0;
	max-width: 100%;
	margin-bottom: 80px;
}
.picture__small1{
	margin-right: 30px;
}
.onepicture2{
	display: block;
   max-width: 100%;
   margin: 0 auto 100px;
}
.text__block{
	margin: 0 auto;
	max-width: 816px;
}
.text__block p {
	font-size: 14px;
	line-height: 1.78;	
	margin-bottom: 40px;
}
.title{
	margin-top: 111px;
	margin-bottom: 100px;
}
.container{
	max-width: 1270px; 
	margin: 0 auto 100px;
	padding-left: 15px;
	padding-right: 15px;
}